.item_container{
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 50px;
}
.TopButton{
    color: white;
    width: 30%;
    display: flex;;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;    
    height: 38px;
    border: 0;
    border-radius: 6px;
    background-color: red;
    padding: 10px;

    
    }

.btn_h4{
    font-size: 12px;
}

.item_image{
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: right;
    align-items:end;
    background-image: url('bgimage.png');
    background-attachment:local ;
    background-repeat: no-repeat;
    
    background-size:80% 90%;
}
.item_details{
    padding: 20px 100px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}
.image{
    height: 90%;   
}

.item_desc{
    height: 50%;
    width: 40%;
    font-size: 15px;
    padding: 0px 15px;
}

.heading{
    font-weight: bold;
    padding-bottom: 10px;
}

.items_Buttons{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}
.inc_dec{
    align-items: center;
    padding-bottom:5px ;
}

.addbucket_btn{
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
}

.Cardheader{
    background-color: black;
    display: flex;
    position: relative;

}

.additional_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards {
   margin: 20px;
  }

.List{
    height: fit-content;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    background-color: #1C1816;
    position: relative;
    border: 1px solid #433C39;
}

.additem{
height: 15px;
width: 40px;
background-color: transparent;
background-image:url('./add.png');
border: 0;
}

.Checkbox{
position: absolute;
right: 3%;
}

.type_label{
    font-size: 13px;
    position: absolute;
    right: 2%;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 2px;
    color: darkgreen;
}

#JS7{
    color: red;
    background-color: lightcoral;
}