.navbar img{
    border-radius: 20%;
}
.navbar{
    height: 7rem;
    
    background-color:#1F2937;
    display: flex;
    align-items: center;
    padding: 10px 20px;
   }

.label{
    color: White;
    position: absolute;
    right:50%;
    top:-25px;
    font-weight: 700;
}

.full_header{
display: block;
background-color: #1F2937;
}
.navbar h2{
    margin-left: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.cartbtn{
    border: 0;
}

.profile{
    margin-left: 20px;
    position: relative;
}

a,button{
    padding: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}
.button_link{
    margin-right: 50px;
    position: absolute;
    font-weight: bold;
    right: 0%;
}

.button_link a{
    color: white;
}

.cart{
    position: relative;
}


.cart_profile{
    width: 100%;
    display: flex;
    justify-content: center;

}
.cart p{
    position: absolute;
    top: -80%;
    right: -30%;
    color: red;
    font-size: 22px;
    background-color: white;
    width: 25px;
    border-radius: 50%;
}
.searchbar{
    position: absolute;
    left: 34%;
}

.searchbar input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid darkblue ;
}

#searchbutton{
    background-color: transparent;
    border: 0;
    padding: 0%;
    margin: 5px;
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
}

.l_S_btn{
    background-color: #EC1C24;
    border: 0;
    margin: 5px;
    color: aliceblue;
    border-radius: 10px;
}   
.button_link button:hover{
    background-color:lightskyblue;  
transition: 0.4s;
font-weight: bold;
transform: translateY(2px);
}

@media screen and (max-width: 700px) {
    .navbar .button_link {   
      display: flex;
      flex-direction: column;
    padding: 10px;
    }
    .navbar{
        height: 10rem;
    }
  }

  @media screen and (max-width: 1000px) {
    .searchbar{
        display: none;
    }
  }